/* Định dạng chung*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-background {
    /*  background-image: url(../img/back-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    background: #d6ffe8;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: -10;
    opacity: .5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

.core {
    margin: 25px 0px;
    padding-bottom: 100px;
}

.footer-page {
    height: 100px;
    width: 100%;
    background: #04aa6d;
    position: absolute;
    bottom: 0px;
}

.title-header {
    font-family: "Bungee", Arial, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #0d6efd;
    padding: 18px 0px;
    margin-bottom: 36px;
    border-bottom: 5px solid #04aa6d;
    border-top: 5px solid #04aa6d;
    display: block;
    background-image: url(../img/back-2.jpg);
    background-size: cover;
}

.title-1 {
    font-weight: bold;
    background: #04aa6d;
    padding: 10px 10px;
    margin-bottom: 0px;
    z-index: 10;
}

.title-special {
    background: #048052;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.title-2 {
    color: #04aa6d;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.title-3 {
    color: #212529;
    font-size: 1rem;
    padding-left: 5px;
    padding-top: 10px;
}

.group-unit {
    border: 1px solid #04aa6d;
    margin-bottom: 15px;
    /* padding-bottom: 7px; */
    background: #f8f9fa;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
}

.group-unit-alway-show {
    border: 1px solid #04aa6d;
    margin-bottom: 15px;
    /* padding-bottom: 7px; */
    background: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
}

.group-no-collapse {
    padding-bottom: 7px;
}

.func-group {
    border: 1px solid #04aa6d;
    border-radius: 20px;
    margin-bottom: 50px;
    background: #dcebe5;
}

.func-btn {
    min-width: 120px;
}

#tenTepTaiLen {
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 576px) {
    .fix-full-screen {
        width: 100%;
    }

    .title-header {
        font-size: 2rem;
    }
}

.fix-full-screen {
    margin-bottom: 5px;
    position: relative;
}

.title-table {
    font-weight: bold;
    text-align: center;
}

.form-control {
    text-align: center;
}

/* Nút switch */
.form-check {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btn-bug {
    position: fixed;
    bottom: 15px;
    right: 0px;
    z-index: 20;
    min-width: 50px;
}

.btn-statistical {
    position: fixed;
    bottom: 65px;
    right: 0px;
    z-index: 20;
    min-width: 50px;
}

.btn-csdl {
    margin-bottom: 5px;
    margin-top: 15px;
}

.collapse-section {
    text-align: center;
    margin-top: 12px;
    line-height: normal;
}

.collapse-section i {
    background: #04aa6d;
    padding: 2px 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffffff;
    border: 1px solid #04aa6d;
}

/*Hiển thị thông tin trợ giúp*/

.popover-header {
    background: #0d6efd;
    color: #ffffff;
}

.popover-body {
    background: #dbe9ff;
    color: #000000;
}

.popover {
    font-family: Arial, Helvetica, sans-serif;
}

.btn-suggest {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: #04aa6d;
    right: -10px;
    top: 0px;
}

.btn-suggest i {
    font-size: 1.35rem;
}

.btn-outside-collapse {
    right: 0px;
}

/*Modal hiển thị*/

.modal-header {
    background: #0d6efd;
    color: #ffffff;
}

.modal-body,
.modal-footer {
    background: #dbe9ff;
    color: #212529;
}

.modal-body img {
    max-width: 100%;
    height: auto;
}

.modal-footer {
    border-top: 1px solid #8e918e;
}

/*Sơ đồ công nghệ*/

.fix-SoDoCongNghe {
    text-align: center;
}

.fix-SoDoCongNghe svg {
    max-width: 100%;
    height: auto;
}

.div-list{
    color: #fff;
    background: #04aa6d;
}

/* Khoá thao tác */

#lock_page {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background: #04aa6d;
    opacity: .5;
    transition: .5s;
}

.loader {
    top: 80%;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #0d6efd #0d6efd;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 52px;
    height: 52px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Google translate */

body {
    top: 0 !important;
}

#google_translate_element,
.skiptranslate {
    display: none;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Định dạng tabulator */

.tabulator {
    font-size: 1rem;
}

.tabulator-cell {
    padding: 5px 10px !important;
}

.tabulator-col-title {
    text-align: center;
    font-size: 1rem;
}

.border-func-thongke{
    margin-top: 15px;
}

.border-func-thongke button {
    margin-right: 5px;
}

/* Phân chia các phần tính toán cho dễ nhìn */
.div-calculate{
    margin: 15px auto;
    margin-top: 20px;
    border: 1px solid #04aa6d;
    width: 50%;
    position: relative;
    text-align: center;
} 

.div-calculate > i {
    position: absolute;
    top: 0px;
    color: #0d6efd;
    font-size: 1.2rem;
}